<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594075691770-bqem2897va90joi7tjuaf314c1bo10en.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594075691770-bqem2897va90joi7tjuaf314c1bo10en</string>
	<key>API_KEY</key>
	<string>AIzaSyBH3ntL-I41H25RnY-8y0_64bdEdLc6dxA</string>
	<key>GCM_SENDER_ID</key>
	<string>594075691770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AlisherSattarbek.QonilQui</string>
	<key>PROJECT_ID</key>
	<string>qonilqui</string>
	<key>STORAGE_BUCKET</key>
	<string>qonilqui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594075691770:ios:267f6c32f315a3ab9f7743</string>
	<key>DATABASE_URL</key>
	<string>https://qonilqui.firebaseio.com</string>
</dict>
</plist>